<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1><%= articleToDisplay.title %></h1>
<div>
  <p><strong>By <%= articleToDisplay.author  %></strong></p>
  <p> <%= articleToDisplay.content  %></p>
</div>
</body>
</html>

